# URL du backend Medusa
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Clé publiable Medusa (à créer dans l'Admin → Paramètres → Canaux de vente)
# Une fois l'admin lancé, récupérer la clé et la coller ici
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_VOTRE_CLE_ICI

# URL du storefront (utilisée pour les redirects et le SEO)
NEXT_PUBLIC_STORE_URL=http://localhost:3000
